{% extends defaultLayout %} {% block css %}
<link rel="stylesheet" href="{{ _res_path }}html/chap/chap.css" />
{% endblock %} {% block main %}
<div class="illustration">
  <img src="{{ chapIll }}" alt="{{ chapIll }}" />
</div>
<div class="bar">
  <div class="player">
    <p>Player: {{ player.id }}</p>
    <p>chap: {{ chapName }}</p>
  </div>
  <div class="count">
    {% for index, value in count.items() %} {% if index == 'tot' %}
    <p>tot: {{ value }}</p>
    {% else %}
    <img src="{{ _imgPath }}/{{ index }}.png" alt="{{ index }}" />
    <p>{{ value }}</p>
    {% endif %} {% endfor %}
  </div>

  {% set type1 = 30 %} {% set type2 = 200 %} {% set song_style = 1 if num <=
  type1 else 2 if num <= type2 else 3 %} {% set song_num = 5 if num <= type1
  else 10 if num <= type2 else 15 %} {% set left_margin = 100 if num <= type1
  else 130 %} {% set left_range = -200 if num <= type1 else -220 if num <= type2
  else -230 %} {% set column_size = 700 if num <= type1 and num <= 10 else 240
  if num <= type1 else 130 if num <= type2 else 85 %} {% set top_range = 600 if
  num <= type1 else 645 if num <= type2 else 690 %} {% set tem = 0 %}

  <div
    class="song-box"
    style="width: {{ column_size * (num // song_num + 1) + left_margin + 50 }}px;"
  >
    {% for song in song_box %}
    <div
      class="song song_{{ song_style }}"
      style="left: {{ left_margin + (left_range / (song_num - 1)) * (tem % song_num) + column_size * ((tem - (tem % song_num)) / song_num) }}px; top: {{ (top_range / (song_num - 1)) * (tem % song_num) }}px;"
    >
      <div class="common_ill ill">
        <img src="{{ song.illustration }}" alt="{{ illustration }}" />
      </div>
      <div class="info">
        {% if num <= 10 %} {% for rank, chart in song.chart.items() %}
        <div
          class="rank {{ rank }}"
          style="height: {{ 23 if song.chart.AT else 30 }}%;"
        >
          <div class="rating">
            <img
              src="{{ _imgPath }}/{{ chart.Rating }}.png"
              alt="{{ chart.Rating }}"
            />
          </div>
          <div class="dif">{{ chart.difficulty }}</div>
          {% if chart.acc and num <= 10 %}
          <div class="score">{{ chart.score }}</div>
          <div class="acc">{{ chart.acc }}%</div>
          {% if num <= 5 %}
          <div class="rks">= {{ chart.rks }}</div>
          <div class="suggest">>> {{ chart.suggest }}</div>
          {% endif %} {% endif %}
        </div>
        {% endfor %} {% else %}
        <div class="score-bar">
          {% for value in song.chart.values() %}
          <div class="{{ value.Rating }}"></div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% set tem = tem + 1 %} {% endfor %}
  </div>

  {% for index, value in progress.items() %}
  <div class="progress {{ index }}-bar">
    <div class="progress-bar" style="width: {{ value }}%;"></div>
    <p>&ensp;{{ "%.4f"|format(value) }}%</p>
  </div>
  {% endfor %}

  <div class="createdbox">
    <div class="phi-plugin">
      <p>{{ _plugin }}</p>
    </div>
    <div class="ver">
      <p>{{ Version.ver }}</p>
    </div>
  </div>
</div>
{% endblock %}
